<!DOCTYPE html>
<html lang="en">
	<head>
		<%-include('../partials/head');%>
		<script src="./scripts/game.js" type="module" defer></script>
	</head>
	<body>
		<%-include('../partials/header');%>
		<main>
			<div id="pageGame">
				<h1>The Office Quotes Quiz</h1>
				<p id="game__quote"><%= quote.content %></p>
				<h2>Who said it?</h2>
				<div id="game__choices">
					<% for (const choice of choices) { %>
					<button
						<% if (choice === speaker) { %>
						onclick="correctChoice()"
						<% } else { %>
						onclick="wrongChoice(`<%= speaker %>`)"
						<% } %>
					>
						<%= choice %>
					</button>
					<% } %>
				</div>
			</div>
		</main>
	</body>
</html>
