<!DOCTYPE html>
<html lang="en">
	<%-include('../partials/head');%>
	<body>
		<%-include('../partials/header');%>
		<main>
			<div id="pageGame">
				<h1>The Office Quotes Quiz</h1>
				<p id="game__quote"><%= quote.content %></p>
				<div id="game__choices">
					<% for (const choice of choices) { %>
					<button
						<% if (choice === speaker) { %>
						onclick="correctChoice()"
						<% } else { %>
						onclick="wrongChoice(`<%= speaker %>`)"
						<% } %>
					>
						<%= choice %>
					</button>
					<% } %>
				</div>
			</div>
		</main>
	</body>
</html>
